In [32]:
import numpy as np
students = np.array([
    [67, 94, 65, 44, 11],
    [78, 92, 68, 94, 20],
    [59, 92, 87, 39, 90],
    [12, 54, 23, 56, 67],
    [95, 92, 90, 91, 98],
    ])
students

array([[67, 94, 65, 44, 11],
       [78, 92, 68, 94, 20],
       [59, 92, 87, 39, 90],
       [12, 54, 23, 56, 67],
       [95, 92, 90, 91, 98]])

In [33]:
import pandas as pd

pd.DataFrame(data=students,
             index=['stu1','stu2','stu3','stu4','stu5'],
             columns=['國文','英文','數學','歷史','健康']
             )

      國文  英文  數學  歷史  健康
stu1  67  94  65  44  11
stu2  78  92  68  94  20
stu3  59  92  87  39  90
stu4  12  54  23  56  67
stu5  95  92  90  91  98

In [ ]:
data = np.random.randint(50,high=101,size=(50, 5))
students = pd.DataFrame(data,
             columns=['國文','英文','數學','歷史','健康'])
students

     國文   英文  數學  歷史   健康
0    54   66  50  99   50
1    74   84  54  69   62
2    87   85  90  64   70
3    65   77  75  51   56
4    72   77  85  58   61
5    66   91  97  74   69
6    65   92  61  87   67
7    69   60  83  93   83
8    95   82  81  74   75
9    96   56  92  77   85
10   99   99  89  61   73
11   78   52  88  97   79
12   95   90  70  50   66
13   98   55  50  67  100
14   53   76  98  96   68
15   75   92  89  70   90
16   96   92  55  98   96
17   86   95  88  62   57
18   89   78  75  67   72
19   89   60  70  96   53
20   75   84  65  95   94
21   83   88  95  72   74
22   72   60  87  58   72
23   59   59  75  63   87
24   75   95  93  87   72
25   90   51  70  82   69
26   83   77  95  86   85
27   91   65  50  88   52
28   80   80  96  57   99
29  100   98  85  74   98
30   93   52  67  71   68
31   62   96  56  82   71
32   96   91  54  69   81
33   73   66  88  50   62
34   84   88  72  76   73
35   79   75  85  52   97
36   96   97  85  88   94
37   58   67  76  96   78
38   86   50  95  74   74
39   99   64  54  66   56
40   88   70  80  62   56
41   55  100  75  58   84
42   53   54  93  79   78
43   63   99  84  91   53
44   52   63  90  62   59
45   95   70  81  70   92
46   69   86  64  55   70
47   72   62  76  92   50
48   82   86  79  66   78
49   67   96  50  96   84

In [ ]:
import random
def get_names(nums:int=10)->list[str]:
    with open('names.txt',encoding='utf-8') as file:
        content = file.read()
        names = content.split("\n")
        randam_names = random.sample(names,nums)
        
    return randam_names

get_names(10)

['王孝純', '林玉佩', '胡淑貞', '陳嘉淑', '高士凱', '吳淑惠', '賴昌韻', '陳倩妮', '鄧哲榮', '劉雯芬']

In [37]:
student_nums = 5
data = np.random.randint(50,high=101,size=(student_nums, 5))
students = pd.DataFrame(data,
             columns=['國文','英文','數學','歷史','地理'],
             index=get_names(student_nums))
students

     國文  英文  數學  歷史  地理
溫法堯  63  61  87  72  98
鄭琇亞  60  73  56  76  65
陳怡伶  63  73  84  76  57
王坤安  69  76  74  65  78
林佳蓉  94  91  68  57  50

In [42]:
student_nums = 50
data = np.random.randint(50,high=101,size=(student_nums, 5))
students = pd.DataFrame(data,
            columns=['國文','英文','數學','歷史','健康'],
            index=get_names(student_nums))

In [46]:
students.to_csv('student.csv')
print("存檔成功")

存檔成功